.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem 2rem;

    background: #252E3D;
    backdrop-filter: blur(10px);

    box-shadow: 0px 4px 20px rgba(125, 207, 221, 0.2);
}


.menu-link {
    text-decoration: none;
    color: #7DCFDD;
    font-weight: 500;
    padding: 8px 10px;
    /* border-radius: 8px; */
    /* transition: all 0.3s ease; */
    font-size: 16px;
    text-transform: uppercase;
}

/* Hover */
.menu-link:hover {
    color: #f7df1e;
    text-shadow: 0px 0px 8px hsla(53, 93%, 54%, 0.668);
}

/* Page active */
.menu-link.active {
    color: #f7df1e;
    font-weight: 600;
    text-shadow: 0px 0px 10px rgba(248, 154, 4, 0.8);
}