.blinking-cursor {
    display: inline-block;
    font-weight: 100;
    font-size: 2.5rem;
    color: #f7df1e;
    animation: blink 1s steps(3, start) infinite;
    margin-left: 3px;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}